#  2.Different Ways Of Creating DataFrame

In [16]:
%autosave 60
import pandas as pd

Autosaving every 60 seconds

**2.1 Using CSV**

In [15]:
df = pd.read_csv("weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

**2.2 Using Excel**

In [7]:
df1 = pd.read_excel('weather_data.xlsx','Sheet1')
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

**2.3 Using Python Dictionary**

In [8]:
weather_data = {
   'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}
df3 = pd.DataFrame(weather_data)
df3

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

**2.4 Using list of tuples**

In [9]:
weather_data = [
    ('1/1/2017', 32, 6, 'Rain'),
    ('1/2/2017', 35, 7 , 'Sunny'),
    ('1/3/2017', 28, 2, 'Snow')
]
df4 = pd.DataFrame(weather_data, columns=['day', 'temperature', 'winspeed', 'event'])
df4

        day  temperature  winspeed  event
0  1/1/2017           32         6   Rain
1  1/2/2017           35         7  Sunny
2  1/3/2017           28         2   Snow

**2.5 Using list of dictionaries**

In [10]:
weather_data = [
    {'day': '1/1/2017', 'temperature': 32, 'windspeed': 6, 'event': 'Rain'},
    {'day': '1/2/2017', 'temperature': 35, 'windspeed': 7, 'event': 'Sunny'},
    {'day': '1/3/2017', 'temperature': 28, 'windspeed': 2, 'event': 'Snow'},  
]
df5 = pd.DataFrame(weather_data)
df5

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

<div class="alert alert-block alert-success">
<b>Sucess Different Ways Of Creating DataFrame </b> 
</div>