# Period and PeriodIndex

In [28]:
%autosave 60

Autosaving every 60 seconds

In [1]:
import pandas as pd

y = pd.Period('2016')
y

Period('2016', 'A-DEC')

In [2]:
y.start_time

Timestamp('2016-01-01 00:00:00')

In [3]:
y.end_time

Timestamp('2016-12-31 23:59:59.999999999')

In [4]:
m = pd.Period('2011-1', freq = 'M')
m

Period('2011-01', 'M')

In [5]:
m.start_time

Timestamp('2011-01-01 00:00:00')

In [6]:
m.end_time

Timestamp('2011-01-31 23:59:59.999999999')

In [7]:
m+1

Period('2011-02', 'M')

In [8]:
d  =pd.Period('2017-02-28', freq = 'D')
d

Period('2017-02-28', 'D')

In [9]:
d+1

Period('2017-03-01', 'D')

In [10]:
q = pd.Period('2017Q1')
q

Period('2017Q1', 'Q-DEC')

In [11]:
q+1

Period('2017Q2', 'Q-DEC')

In [13]:
q1 = pd.Period('2017Q1', freq = 'Q-JAN')
q1

Period('2017Q1', 'Q-JAN')

In [14]:
q1.start_time

Timestamp('2016-02-01 00:00:00')

In [16]:
idx = pd.period_range(start='2011', end='2017', freq='Q-JAN')
idx

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1', '2014Q2', '2014Q3',
             '2014Q4', '2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1',
             '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2', '2017Q3',
             '2017Q4'],
            dtype='period[Q-JAN]')

In [18]:
idx = pd.period_range(start='2011',periods=10)
idx

PeriodIndex(['2011-01-01', '2011-01-02', '2011-01-03', '2011-01-04',
             '2011-01-05', '2011-01-06', '2011-01-07', '2011-01-08',
             '2011-01-09', '2011-01-10'],
            dtype='period[D]')

In [19]:
import numpy as np
ps = pd.Series(np.random.randn(len(idx)), idx)
ps

2011-01-01    0.117111
2011-01-02    0.495764
2011-01-03   -1.209756
2011-01-04    1.881558
2011-01-05    0.519231
2011-01-06    0.277726
2011-01-07    0.040102
2011-01-08   -0.428804
2011-01-09   -1.493670
2011-01-10    0.973704
Freq: D, dtype: float64

In [20]:
ps['2011']

2011-01-01    0.117111
2011-01-02    0.495764
2011-01-03   -1.209756
2011-01-04    1.881558
2011-01-05    0.519231
2011-01-06    0.277726
2011-01-07    0.040102
2011-01-08   -0.428804
2011-01-09   -1.493670
2011-01-10    0.973704
Freq: D, dtype: float64

In [21]:
df = pd.read_csv('wmt.csv')
df

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [22]:
df.set_index('Line Item', inplace= True)
df

           2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
Line Item
Revenue    115904  120854  118179  130936  117542
Expenses    86544   89485   87484   97743   87688
Profit      29360   31369   30695   33193   29854

In [23]:
df = df.T
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [24]:
df.index

Index(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='object')

In [25]:
df.index = pd.PeriodIndex(df.index, freq = 'Q-JAN')
df.index

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='period[Q-JAN]')

In [27]:
df['start date'] = df.index.map(lambda x: x.start_time)
df

Line Item  Revenue  Expenses  Profit start date
2017Q1      115904     86544   29360 2016-02-01
2017Q2      120854     89485   31369 2016-05-01
2017Q3      118179     87484   30695 2016-08-01
2017Q4      130936     97743   33193 2016-11-01
2018Q1      117542     87688   29854 2017-02-01

<div class = 'alert alert-block alert-success' >
    <b> Success Part 5 </b>
    </div>